//device breakpoint
$mobile: 320px;
$tablet: 481px;
$desktop-s: 769px;
$desktop: 1025px;
$desktop-l: 1200px;

//container
$space-c-t-desktop: 3rem;
$space-c-b-desktop: 5rem;
$space-c-x-desktop: 14.4rem;

//colors
$color-p-black: #000000;
$color-p-white: #ffffff;