// .root {
//     background-color: $color-p-black;
//     color: $color-p-white;
//     padding: 2rem;
//     text-align: center;
//   }
  @import "src/assets/styles/global.scss";
@import "src/assets/styles/mixin";
@import "src/assets/styles/variable";
.banner{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/home/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media screen and (max-width: 768px) {
     
     


    }
    .button-banner{
        font-size: 1rem;
        padding: 1.8rem 2rem 1.8rem;
        color: wheat;
        background-color: rgb(80, 177, 177);
        margin-top: 15rem;
        border: none;
        border-radius: 3px;
        &:hover{
          opacity: 0.7;
          color: black;
        }
        @media screen and (max-width: 768px) {
          margin-top: 5rem;
          padding: 1rem 1.2rem 1rem;
        }
    }
}